<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=r9zbycpq8e.database.windows.net;Database=riot4_db;Uid=RIoT@r9zbycpq8e;Pwd=MSTeamA1" name="riot4_db" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
